.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
/dist/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
/StreamDeck-Shortcuts/analytics.swift
/PropertyInspectorViews/Preview/*.local.js
*.xcodeproj/*/xcuserdata/
