.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
/StreamDeck-Shortcuts/analytics.swift
*.xcuserstate
**/xcuserdata/StreamDeck-Shortcuts.xcodeproj/project.xcworkspace/xcuserdata/kirkland.xcuserdatad/UserInterfaceState.xcuserstate
